<div>
  <main>

    <section class="mx-3 my-3">
      {{>breadcrumb}}
    </section>

    <section class="mx-3 my-3">
      <h2>{{header}}</h2>
    </section>

    <section class="mx-3 my-3">
      <div class="row">
        {{#each sortBlock}}
        <div class="col-3">
          <select class="form-select">
            <option selected>{{placeholder}}</option>
            {{#each options}}
            <option value={{value}}>{{text}}</option>
            {{/each}}
          </select>
        </div>
        {{/each}}
      </div>
    </section>

    <section class="mx-3 my-3">
      <div class="row">
        <div class="col-4">
          {{#with filterBlock}}
          <div class="card">
            <div class="card-body">

              {{#with sellers}}
              <p>{{title}}</p>
              {{#each list}}
              <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">
                  {{value}}
                </label>
              </div>
              {{/each}}
              {{/with}}
              <hr>

              {{#with brands}}
              <p>{{title}}</p>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder={{input.placeholder}}>
              </div>
              {{#each options}}
              <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">
                  {{value}}
                </label>
              </div>
              {{/each}}
              {{/with}}

              {{#with price}}
              <hr>
              <p>{{title}}</p>
              {{#each range}}
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder={{this}}>
              </div>
              {{/each}}
              {{#with button}}
              <a class="btn btn-outline-secondary" href={{link}}>{{text}}</a>
              {{/with}}
              {{/with}}

              {{#each filterList}}
              <hr>
              <p>{{title}}</p>
              {{#each options}}
              <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">
                  {{value}}
                </label>
              </div>
              {{/each}}
              {{/each}}
            </div>
          </div>
          {{/with}}
        </div>
        <div class="col-8">
          <div class="row">
            {{#each goodsList}}
            {{>catalogItem}}
            {{!-- <div class="col-6">
              <div class="card p-1 my-1">
                <img src={{img}}>
                <div class="card-body">
                  {{#if isHot}}
                  <span class="badge bg-warning">Hot !</span>
                  {{/if}}
                  {{#if isNew}}
                  <span class="badge bg-primary">New</span>
                  {{/if}}
                  <br>
                  {{#if isFast}}
                  <button class="btn btn-success my-2">Fast delivery</button>
                  {{/if}}
                  <br>
                  {{#if isFree}}
                  <button class="btn btn-secondary my-2">Free delivery</button>
                  {{/if}}
                  <p>{{name}}</p>
                  {{#each review}}
                  {{this}}
                  {{/each}}
                  <p class="display-6"><b>{{price}}</b></p>
                  <p>{{delivery}}</p>
                  {{#each buttons}}
                  {{#if isPrimary}}
                  <a class="btn btn-primary" href={{link}}>{{text}}</a>
                  {{/if}}
                  <br>
                  {{#if isSecondary}}
                  <a class="btn btn-secondary" href={{link}}>{{text}}</a>
                  {{/if}}
                  {{/each}}
                  <ul>
                    {{#each characteristics}}
                    <li>{{title}} {{value}}</li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div> --}}
            {{/each}}
          </div>
        </div>
      </div>
    </section>

    <section class="mx-3 my-3">
      {{>shopaction}}
    </section>

  </main>
</div>